@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Domine&family=Lato:wght@300;400;500;700;900&family=Tinos&display=swap');

$title-font: 'DM Serif Display', sans-serif;
$description-font: 'Domine', sans-serif;
$body-font: 'Tinos', sans-serif;
$header-font: 'Lato', sans-serif;