.imageWrapper {
  position: relative;
  width: 120px;
  height: 100%;

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.details {
  width: 100%;
  height: 100px;
  margin: 0 0px 20px 5px;

  h3 {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    text-transform: capitalize;
  }

  p {
    margin: 5px 0 3px;
    font-size: 0.8em;
    color: rgb(117, 115, 115);
  }

  button {
    margin-top: 7px;
    background-color: #000012;
    color: #fff;
    border-radius: 2px;
    transition: all 200ms ease;
    font-weight: 800;
    cursor: pointer;

    &:hover {
      color: #000012;
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .imageWrapper {
    width: 250px;
    height: 100%;
  }
  .details {
    width: max-content;
  }
}

@media screen and (max-width: 500px) {
  .details {
    h3 {
      font-size: 0.7em;
      font-weight: 800;
    }

    p {
      font-size: 0.7em;
    }

    button {
      font-size: 0.8em;
    }
  }
}