.main {
  width: 75%;
  margin: 7em auto 10em;

  .gallery {
    display: grid;
    gap: 0.5em;
    grid-auto-rows: 10em;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-auto-flow: dense;

    .image {

      .imageContainer {
        position: relative;
        cursor: pointer;
        height: 90%;
        width: 100%;
      }

      .imageDetails {
        margin: 0;

        p {
          margin: 3px 0 0;
          font-size: 0.9em;
          text-transform: capitalize;
        }
      }
    }

    .image:nth-child(6n) {
      grid-column: span 2;
      grid-row: span 2;
    }

    .image:nth-child(7n) {
      grid-column: span 2;
    }

    .image:nth-child(8n) {
      grid-row: span 2;
    }
  }
}

.hero {
  position: relative;
  width: 75%;
  margin: 5em auto 0;
  height: 32em;

  .heroImageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .heroImage {
      position: relative;
      max-width: 100%;
      height: 100%;
      filter: brightness(70%);
    }
  }

  .details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .headerContainer {
      padding: 20px 30px;
      border: 3px solid #fff;
      opacity: 0.9;

      .header {
        background-color: #fff;
        padding: 20px 30px;
        opacity: 0.9;

        h1 {
          margin: 0;
          text-transform: capitalize
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .main {
    width: 96%;
  }

  .hero {
    width: 99%;
  }


}

@media screen and (max-width: 500px) {
  .hero {
    height: 20em;

    .details {
      .headerContainer {
        padding: 15px 25px;

        .header {
          padding: 15px 25px;
          width: max-content;

          h1 {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .main {
    margin: 2em auto;

    .gallery {
      gap: 0.3em;

      .image {
        .imageDetails {
          p {
            font-size: 0.6em;
          }
        }
      }
    }
  }
}