@use "../abstracts/fonts";
@use "../abstracts/colors";

html,
body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // overflow-x: hidden;
  background-color: #fff;
  scroll-behavior: smooth;
  max-width: 1666px;
}

h1,
h2,
h3,
h4 {
  font-family: fonts.$header-font, sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
}

p {
  font-family: fonts.$header-font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


li {
  list-style-type: none;
  font-family: fonts.$header-font;
}

.navbarHeaderImage{
  display: none;
}

.icon {
  display: none;
}

.message {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  margin-top: 4.5em;
  background-color: rgb(191, 248, 191);
  overflow: hidden;

  h3 {
    font-size: 0.9em;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .message {
    margin-top: 3em;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;

    &.visible {
      transform: translateX(0);
    }

    .navbarHeaderImage {
      display: none;
    }
  }

  .nav-black {
    background-color: rgba(0,0,0,0.5);
    width: 100%;

    &.visible {
      transition-delay: 0s;
    }
  }

  .nav-pink {
    background-color: hsl(347, 75%, 55%);
    width: 60%;
    // max-width: 350px;
    transition-delay: 0.4s;

    &.visible {
      transition-delay: 0s;
    }
  }

  .nav-lightpink {
    background-color: hsl(347, 70%, 70%);
    width: 95%;
    transition-delay: 0.2s;

    &.visible {
      transition-delay: 0.2s;
    }
  }

  .nav-white {
    position: absolute;
    background-color: #fff;
    width: 94%;
    height: 100vh;
    position: relative;
    transition-delay: 0s;

    &.visible {
      transition-delay: 0.4s;
    }
  }
}

@media screen and (max-width: 500px) {
  .message {
    height: 1.5em;
    h3 {
      font-size: 0.6em;
    }
  }
  .nav-pink {
    width: 65%;
  }

  // .nav-white {

  // }


}

// -------------  SVG  ------------

.header {
  margin: 0em 0 1em;
  position:relative;
  text-align:center;
  color: #000;

  .heroDetails {
    position: relative;
  }

  h1 {
    font-family: fonts.$header-font;
    font-weight:900;
    letter-spacing: 2px;
    font-size:50px;
    text-transform: capitalize;
    margin: 0;
    text-align: left;
  }

  h3 {
    font-family: fonts.$header-font;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    color: colors.$secondary-color;
    margin: 0;
    text-align: left;
  }

  p {
    font-family: fonts.$header-font, sans-serif;
    letter-spacing: 1px;
    font-size:18px;
    color: #333333;
    margin: 0.5em 0 6em;
    text-align: left;
    width: 25em;
  }

  button {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: max-content;
    margin: 1em 0;
    padding: 15px 20px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: colors.$secondary-color;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;


    &:hover {
      background-color: hsl(347, 75%, 60%);
      outline: 1px solid hsl(347, 75%, 60%);
    }
  }

  .heroDetails {
    margin-top: -5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  background-color: #F9F8FD;
  overflow: hidden;

  .vectorContainer {
    width: 600px;
    height: 600px;
    margin-top: 12em;
    margin-right: 5em;

    .vectorImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .header {
    margin-top: 1em;
    margin: 0;

    h1 {
      font-size: 25px;
    }

    h3 {
      font-size: 25px;
    }

    p {
      font-size: 14px;
      margin: 0.5em 0 5em;
    }

    button {
      font-size: 12px;
      padding: 10px 15px;
    }

    .inner-header {
      margin-top: 0em;
      padding-top: 8em;
      height: 40vh;
    }

    .heroDetails {
      margin-left: 2em;
      margin-top: -7em;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin-top: 3em;
    height: 15em;
    margin: 0;

    h1 {
      font-size: 20px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 10px;
      margin: 0.5em 0 6em;
    }

    button {
      font-size: 12px;
      padding: 10px 15px;
    }

    .heroDetails {
      margin-left: 1em;
      margin-top: -4em;
      z-index: 2;
    }

    .inner-header {
      position: relative;
      justify-content: flex-start;
      height: 15em;
      padding-top: 5em;

      .vectorContainer {
        position: absolute;
        right: 10px;
        margin: -1em 0 0;
        width: 250px;
        height: 250px;
        opacity: 0.4;
      }
    }
  }
}

// ########### End of SVG ###############


// -------------- Navbar Image --------------
@media screen and (max-width: 768px) {
  .navigation {

    .icon {
      display: block;
      position: absolute;
      top: -20px;
      right: 20px;
      font-weight: 700;
      font-size: 35px;
      cursor: pointer;
      width: max-content;
      color: colors.$secondary-color;
    }

    .mainContainer {
      position: absolute;
      width: 100%;
      margin: 5em auto 3em;
      border-radius: 10px;
      border: 2px solid red;
    }

    .navbarHeaderImage {
      display: flex;
      position: relative;
      width: 100%;
      height: 10vh;
      background-color: rgba(255, 200, 210, 0.25);

      .navbarImageHeaderContainer {
        width: 70px;
        height: 70px;

        .navbarImage {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    .mainContainer {
      position: absolute;
      width: 80%;
      margin: 5em 2em 3em 1em;
      border: 2px solid red;
    }

  .navbarHeaderImage {
    height: 10vh;

    .navbarImageHeaderContainer {
      width: 40px;
      height: 40px;
    }
  }
}
}

// ############## end on navbar image #######################


// -------------- Toast Container ----------------------
@media screen and (max-width: 500px) {
  .Toastify__toast-container {
    max-width: 250px;
    font-size: 0.9em;
    height: 10px;
  }

  .Toastify__toast-body {
    height: 10px;
  }
}