@use "../abstracts/colors";
@use "../abstracts/fonts";

.firstSectionContainer {
  h2 {
    color: colors.$secondary-color;
  }

  .firstSection {
    .links {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.45em;
      width: 100%;
      height: 60vh;
      cursor: pointer;
      z-index: 200;
    }

    .previewOne,
    .previewTwo,
    .previewThree {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: no-repeat center center/cover;
      color: colors.$primary-color;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      h3, h2 {
        z-index: 200;
        font-family: fonts.$header-font;
        color: colors.$primary-color;
      }

      h2 {
        text-transform: capitalize;
      }
    }

    .previewOne:hover,
    .previewTwo:hover,
    .previewThree:hover {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
        transition: all 0.7s ease;
      }
    }

    .previewOne {
      grid-column: 1 / span 3;
      grid-row: 1 / span 2;
      padding: 0 4em;

      h3 {
        font-size: clamp(0.9em, 10vw + 0.95em, 1em);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 10px;
        background-color: #00AEF0;
        text-align: center;
        width: max-content;
        border-radius: 2px;
      }

      h2 {
        font-size:2em;
        margin-top: 0.3em;
        margin-left: 0;
      }
    }

    .previewTwo {
      padding: 0 1em;
      grid-column: 4 / 6;
      grid-row: 1 / 2;

      h3 {
        font-size: 0.7em;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 3px 10px;
        background-color: limegreen;
        border-radius: 2px;
        width: max-content;
      }

      h2 {
        font-size: 1.5em;
        margin-top: 0.1em;
      }
    }

    .previewThree {
      padding: 0 1em;
      grid-column: 4 / 6;
      grid-row: 2 / 3;

      h3 {
        font-size: 0.7em;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 3px 14px;
        background-color: rgb(170, 15, 170);
        width: max-content;
        border-radius: 2px;
      }

      h2 {
        font-size: 1.5em;
        margin-top: 0.1em;
      }
    }
  }
}


.main {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 2em auto;
  overflow: hidden;

  .firstSectionContainer {
    display: flex;
    flex-direction: column;

    h2 {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
  }

  .firstSection {
    display: flex;
  }

  .preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin-left: 1em;
    margin-bottom: 3em;
  }
}

.topContent {
  position: relative;
  height: 60vh;
  max-width: 300px;
  gap: 0 0.7em;
  overflow: hidden;

  h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .slider {
    display: flex;
    position: relative;
    height: 60vh;
    max-width: 500%;
    left: 0;
    margin: 0 auto;
    animation: slider 20s infinite;

    .container {
      display: flex;
      flex-direction: column;
      height: 60vh;
      min-width: 300px;
      float: left;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

@keyframes slider {
  0% {
    left: 0
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

.stories {
  display: flex;
  width: 100%;
  margin:0 0 4em;
}

.topStories {
  display: flex;
  flex-direction: column;
  height: 520px;
  max-width: 430px;

  h3 {
    color: colors.$secondary-color;
  }

  .storiesHeader {
    text-transform: uppercase;
  }

  .storiesWrapper {
    margin-top: -5px;
    width: 430px;

    .story {
      display: flex;
      width: 430px;
      height: 100px;
      margin-bottom: 1em;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;

      h3 {
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}

.latestPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 480px;
  width: max-content;
  margin-left: 1em;
  padding-top: 1em;

  .latestBig {
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    .latestBigItem {
      position: relative;
      background: no-repeat center center/cover;
      width: 450px;
      height: 460px;
      padding: 25px 0 35px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 25px 0 35px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }
    }

    .latestBigItem > h2 {
      z-index: 20;
    }
  }

  .otherLatest {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    margin: 26px 0 0 -20px;

    .otherLatestItem {
      display: flex;
      width: 350px;
      height: 110px;
      margin-bottom: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

.gallery {
  height: 350px;
  width: 100%;
  position: relative;
  margin-bottom: 3em;

  h3 {
    text-transform: uppercase;
    margin-top: 0;
    color: colors.$secondary-color;
  }

  .arrow {
    position: absolute;
    display: flex;
    margin-top: -10px;
    top: 0;
    right: 30px;
    cursor: pointer;

    p {
      color: rgb(83, 83, 83);
      font-weight: 800;

      &:hover {
        color: colors.$secondary-color;
      }
    }

    .arrowRight {
      margin-top: 19px;
      padding-left: 2px;
      font-size: 1em;
      font-weight: 800;
      color: rgb(83, 83, 83);

      &:hover {
        color: colors.$secondary-color;
      }
    }
  }

  .galleryContainer {
    height: 300px;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.about {
  width: 100%;
  height: max-content;
  padding: 0 10px;
  margin: 50px 0 60px;

  h2 {
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 600;
    width: max-content;
    margin: 0 0 0.5em;
    padding: 0 0 4px 0;
    color: colors.$secondary-color;
  }

  .summary {
    display: flex;
    justify-content: space-between;
    max-height: 40em;

    .aboutDetails {
      max-width: 60%;

      p {
        line-height: 25px;
      }
    }

    .aboutImageContainer {
      position: relative;
      width: 300px;
      height: 25em;
      margin-right: 5em;
      overflow: hidden;

      .image {
        width: 100%;
        object-fit: contain/cover;
      }
    }
  }
}

.team {
  width: 100%;
  margin-bottom: 5em;

  h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: colors.$secondary-color;
  }

  .teamContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

    .teamMember {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      padding: 0 10px 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .memberPicture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0.5rem 0.5rem #ff8aa3, -0.5rem -0.5rem #ccc;

        .member {
          width: 100%;
          height: 100%;
        }
      }

      h2 {
        text-align: center;
        margin: 1em 0 0;
        font-weight: 600;
      }

      h3 {
        font-size: 1.2em;
        margin: 0.5em 0 0;
      }

      p {
        line-height: 20px;
        font-size: 0.9em;
      }

      .memberSocials {
        margin: 1em 0 0;

        a {
          margin: 0 10px;
          font-size: 1.3em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px ) {
  .topContent {
    display: none;
  }

  .main {
    max-width: 97%;

    .firstSectionContainer {
      h2 {
        text-transform: capitalize;
        font-size: 1.3em;
        margin-bottom: 1em;
        margin-left: 0.5em;
      }
    }

    .firstSection {
      flex-direction: column;

      .topContent {
        margin-bottom: 2em;
      }

      .preview {
        margin-left: 0;
      }
    }

    .stories {

      .topStories {
        display: none;
      }

      .latestPosts {
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;

        .latestBig {
          margin: 0;
          overflow: hidden;

          .latestBigItem {
            padding: 0;
            width: 100%;
            height: 35em;

            &::after {
              margin: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .otherLatest {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 1em 0 0;

          .otherLatestItem {
            width: 325px;
            max-height: 110px;
          }
        }
      }
    }

    .gallery {
      height: max-content;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5em;

      .galleryContainer {
        height: 100%;
        justify-content: space-between;
      }
    }

    .about {
      height: max-content;
      padding: 0;
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.5em;
        margin: 0 0 1em;
      }

      .summary {
        display: flex;
        flex-direction: column-reverse;
        max-height: max-content;

        .aboutDetails {
          max-width: 100%;
          padding: 0 10px;
        }

        .aboutImageContainer {
          margin: 0;
          width: 100%;
          height: 30em;
        }
      }
    }

    .team {
      padding: 0 10px;

      .teamContainer {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        height: 100%;
        margin-top: 1em;

        .teamMember {
          width: 100%;
          margin: 1.5em 0;
          padding-top: 1.5em;

          .memberDetails {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .topContentHeader {
    font-size: 0.5em;
  }

  .firstSectionContainer {
    height: max-content;
    overflow: hidden;
    margin-bottom: 2em;

    .firstSection {
      width: 100%;
      height: max-content;
      margin-bottom: 1em;

      .preview {
        height: max-content;
        margin: 0;
      }

      .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;

        .previewOne,
        .previewTwo,
        .previewThree {
          height: 15em;
          width: 100%;
        }

        .previewOne {
          padding-left: 1em;

          h2 {
            font-size: 1em;
          }

          h3 {
            font-size: 0.7em;
            font-weight: 800;
            padding: 3px 10px;
          }
        }

        .previewTwo {
          margin-right: 0;

          h2 {
            font-size: 1em;
          }
        }

        .previewThree {
          margin-left: 0;

          h2 {
            font-size: 1em;
          }
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    max-width: 95%;

    .firstSectionContainer {
      h2 {
        font-size: 0.8em;
        font-weight: 800;
        text-transform: uppercase;
        margin-left: 0;
      }
    }

    .stories {
      display: flex;
      flex-direction: column;

      .latestPosts {
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;

        .latestBig {
          margin: 0;
          overflow: hidden;

          .latestBigItem {
            padding: 0;
            width: 100%;
            height: 23em;

            &::after {
              margin: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .otherLatest {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 1em 0 0;
          overflow: hidden;

          .otherLatestItem {
            width: 100%;
            max-height: 100px;
          }
        }
      }
    }

    .gallery {
      margin-bottom: 1.5em;

      h3 {
        font-size: 0.8em;
        font-weight: 800;
      }

      .arrow {
        margin-top: -16px;


        p {
          font-size: 0.8em;
        }

        .arrowRight {
          font-size: 0.8em;
          margin-top: 15px;
        }
      }
    }

    .about {
      margin-top: 1em;
      align-items: flex-start;

      h2 {
        font-size: 0.9em;
        font-weight: 800;
        text-transform: uppercase;
      }

      .summary {
        display: flex;
        flex-direction: column-reverse;
        max-height: max-content;

        .aboutDetails {
          padding: 0 5px;

          p {
            font-size: 0.75em;
            line-height: 20px;
          }
        }
      }
    }

    .team {
      padding: 0 5px;

      h3 {
        font-size: 0.9em;
        font-weight: 800;
        text-transform: uppercase;
      }

      .teamContainer {

        .teamMember {
          width: 100%;
          margin: 1em 0;
          padding-top: 1em;

          .memberPicture {
            width: 150px;
            height: 150px;
            box-shadow: 0.3rem 0.3rem #ff8aa3, -0.3rem -0.3rem #ccc;

            .member {
              width: 100%;
              height: 100%;
            }
          }

          .memberDetails {
            width: 100%;
          }

          h2 {
            text-align: center;
            margin: 1em 0 0;
            font-weight: 600;
            font-size: 1em;
          }

          h3 {
            font-size: 0.9em;
            margin: 0.5em 0 0;
          }

          p {
            line-height: 20px;
            font-size: 0.7em;
          }

          .memberSocials {
            margin: 0em 0 0;

            a {
              margin: 0 10px;
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}