$primary-color: #DB1F48;

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.45em;
  width: 78%;
  height: 60vh;
  cursor: pointer;
  z-index: 200;
  margin-top: 5em;
}

.previewOne,
.previewTwo,
.previewThree {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: no-repeat center center/cover;
  color: #fff;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  h3, h2 {
    z-index: 200;
  }

  h2 {
    text-transform: capitalize;
  }
}

.previewOne:hover,
.previewTwo:hover,
.previewThree:hover {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: all 0.7s ease;
  }
}

.previewOne {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  padding: 0 4em;

  h3 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: #00AEF0;
    text-align: center;
    width: 4em;
    border-radius: 2px;
  }

  h2 {
    font-size: 3em;
    margin-top: 0.3em;
  }
}

.previewTwo {
  padding: 0 1em;

  h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 3px 10px;
    background-color: limegreen;
    border-radius: 2px;
    width: 7em;
  }

  h2 {
    font-size: 1.7em;
    margin-top: 0.1em;
  }
}

.previewThree {
  padding: 0 1em;

  h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 3px 14px;
    background-color: rgb(170, 15, 170);
    width: 9em;
    border-radius: 2px;
  }

  h2 {
    font-size: 1.7em;
    margin-top: 0.1em;
  }
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 79%;
  margin: 2em auto;
  overflow: hidden;
}

.topContent {
  position: relative;
  grid-column: 1 / 1;
  height: 450px;
  max-width: 300px;
  gap: 0 0.7em;
  overflow: hidden;

  h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .slider {
    display: flex;
    position: relative;
    height: 380px;
    max-width: 500%;
    left: 0;
    margin: 0 auto;
    animation: slider 20s infinite;

    .container {
      display: flex;
      flex-direction: column;
      height: 380px;
      min-width: 300px;
      float: left;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

@keyframes slider {
  0% {
    left: 0
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

.stories {
  grid-row: 2;
  display: flex;
  width: 100%;
  margin: 2em 0 4em;
}

.topStories {
  display: flex;
  flex-direction: column;
  height: 480px;
  max-width: 430px;

  .storiesHeader {
    text-transform: uppercase;
  }

  .storiesWrapper {
    margin-top: -5px;
    width: 430px;

    .story {
      display: flex;
      width: 430px;
      height: 100px;
      margin-bottom: 0.4em;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}

.latestPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 480px;
  width: 760px;
  overflow: hidden;
  margin-left: 2em;
  padding-top: 1em;

  .latestBig {
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    .latestBigItem {
      position: relative;
      background: no-repeat center center/cover;
      width: 400px;
      height: 460px;
      padding: 25px 0 35px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 25px 0 35px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }

    .latestBigItem > h2 {
      z-index: 20;
    }
  }

  .otherLatest {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    margin: 26px 0 0 -10px;

    .otherLatestItem {
      display: flex;
      width: 350px;
      height: 100px;
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

.gallery {
  grid-column: 1 / span 3;
  height: 350px;
  max-width: 1260px;
  position: relative;
  margin-bottom: 3em;

  h3 {
    text-transform: uppercase;
    margin-top: 0;
  }

  .arrow {
    position: absolute;
    display: flex;
    margin-top: -10px;
    top: 0;
    right: 30px;
    cursor: pointer;

    p {
      color: rgb(83, 83, 83);
      font-weight: bold;

      &:hover {
        color: $primary-color;
      }
    }

    .arrowRight {
      margin-top: 16px;
      padding-left: 3px;
      font-size: 1.3em;
      font-weight: 600;
      color: rgb(83, 83, 83);
    }
  }

  .galleryContainer {
    height: 300px;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
  }
}

.about {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  width: 1250px;
  height: max-content;
  padding: 0 10px;
  margin: 50px 0 60px;

  .summary {
    display: flex;
    justify-content: space-between;
    max-height: 40em;

    .aboutDetails {
      max-width: 60%;

      h2 {
        text-transform: capitalize;
        font-size: 1.8em;
        width: max-content;
        margin-top: 0;
        padding: 0 0 4px 0;
        border-bottom: 4px solid $primary-color;
      }

      p {
        line-height: 25px;
      }
    }

    .aboutImageContainer {
      position: relative;
      width: 300px;
      height: 25em;
      margin-right: 5em;
      overflow: hidden;

      .image {
        width: 100%;
        object-fit: contain/cover;
      }
    }
  }
}

.team {
  width: 1250px;
  margin-bottom: 5em;

  h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;
    color: $primary-color;
  }

  .teamContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

    .teamMember {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      padding: 0 10px 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .memberPicture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0.5rem 0.5rem #ff8aa3, -0.5rem -0.5rem #ccc;

        .member {
          width: 100%;
          height: 100%;
          // object-fit: cover/contain;
        }
      }

      h2 {
        text-align: center;
        margin: 1em 0 0;
      }

      h3 {
        font-size: 1.2em;
        margin: 0.5em 0 0;
      }

      p {
        line-height: 20px;
        font-size: 0.9em;
      }

      .memberSocials {
        margin: 1em 0 0;

        a {
          margin: 0 10px;
          font-size: 1.3em;
        }
      }
    }
  }
}