.main {
  overflow: hidden;
}

.container {
  position: relative;
  margin: 4em auto 0;
  height: 90vh;
  outline: none;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .headerContainer {
    background: transparent;
    border: 3px solid #fff;
    width: max-content;
    height: max-content;
    padding: 20px 30px;
    margin-bottom: 2.5em;
    opacity: 0.9;
  }

  .header {
    color: #000;
    background-color: #fff;
    padding: 15px 25px;
    opacity: 0.9;

    h1 {
      font-size: 3em;
      margin: 0;
      opacity: 0.7;
      background: transparent;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 2em;
      color: #e1e1e1;
      margin: 0 0.5em;

      &:nth-child(1):hover {
        color: #E845AE;
      }

      &:nth-child(2):hover {
        color: #0080F6;
      }

      &:nth-child(3):hover {
        color: #2999e9;
      }

      &:nth-child(4):hover {
        color: rgb(53, 53, 202);
      }
    }
  }
}