.main {
  max-width: 70%;
  margin: 0 auto;

  .description {
    margin: 2em 0 0 27em;
    width: 30em;

    h3 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      margin-top: 0.5em;
      font-style: italic;
      color: rgb(95, 95, 95);
      line-height: 1.3em;
    }
  }

  .article {
    margin: 7em 0 10em;
    padding-left: 20px;
    line-height: 1.5em;
  }
}